.active-category {
    opacity: 1 !important;
    color: black;
}

.not-active{
    opacity: 0.50 !important;
}

/* @media (max-width: 768px) {
    .some-element {
        font-size: 14px;
        color: #666;
    }
} */