.swiper-button-prev,
.swiper-button-next{
        top: var(--swiper-navigation-top-offset, 2%) !important;
        
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after{
    content: 'arrow' !important;
}

.swiper-button-next {
    background-image: url('/public/right-arrow.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    background-image: url('/public/arrow.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-prev::after {
    display: none;
}


/* .swiper-button-prev:after,
.swiper-button-next:after{
    font-size: small !important;
    padding: 6px;
    border-radius: 50%;
    opacity: .75;
}

.swiper-button-prev:after,
.swiper-button-next:after:hover {
    opacity: 1;
}


.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: 'arrow' !important;
}

.swiper-button-next {
    background-image: url('/public/arrow-right1.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    background-image: url('/public/previous.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-pagination-bullet-active{
    background-color: white !important;
} */